

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
@font-face {
  font-family: 'Vazir';
  src: url('./fonts/Vazir.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}


.vazirmatn {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
div{
  font-family: Vazirmatn
}
.swiper-button-prev,
.swiper-button-next {
  color: #2563eb;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 9999px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #2563eb;
  color: white;
}

.swiper-pagination-bullet {
  background-color: #93c5fd;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: #2563eb;
  opacity: 1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
